asn1crypto==0.24.0
astroid==2.1.0
autopep8==1.4.3
boto3==1.9.57
botocore==1.12.57
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
Click==7.0
cloudpickle==0.6.1
configobj==5.0.6
configparser==3.5.0
cryptography==2.4.2
cycler==0.10.0
dask==1.0.0
decorator==4.3.0
definitions==0.2.0
docopt==0.6.2
docutils==0.14
et-xmlfile==1.0.1
Flask==1.0.2
future==0.17.1
gevent==1.3.7
greenlet==0.4.15
idna==2.7
imageio==2.4.1
imutils==0.5.1
isort==4.3.4
itsdangerous==1.1.0
jdcal==1.4
Jinja2==2.10
jmespath==0.9.3
json-tricks==3.12.2
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
lxml==4.2.5
MarkupSafe==1.1.0
matplotlib==3.0.2
mccabe==0.6.1
mkl-fft==1.0.6
mkl-random==1.0.1
moviepy==0.2.3.5
msgpack-python==0.5.6
networkx==2.2
nltk==3.4
numexpr==2.6.8
numpy==1.15.4
olefile==0.46
openpyxl==2.5.12
pandas==0.23.4
pep8==1.7.1
Pillow==5.3.0
pipreq==0.4
pipreqs==0.4.9
psutil==5.4.8
PsychoPy==1.90.3
pycodestyle==2.4.0
pycparser==2.19
pygame==1.9.4
pyglet==1.3.2
PyLink==0.3.3
pylint==2.2.2
pymongo==3.7.2
pyobjc-core==5.1.1
pyobjc-framework-Cocoa==5.1.1
pyobjc-framework-Quartz==5.1.1
PyOpenGL==3.1.0
pyOpenSSL==18.0.0
pyosf==1.0.5
pyparallel==0.2.2
pyparsing==2.3.0
Pypubsub==4.0.0
pyserial==3.4
python-bidi==0.4.0
python-dateutil==2.7.5
python-pygaze==0.6.0a25
pytz==2018.7
PyWavelets==1.0.1
PyYAML==3.13
pyzmq==17.1.2
requests==2.20.1
s3transfer==0.1.13
scikit-image==0.14.1
scipy==1.1.0
screen==1.0.1
sets==0.3.2
singledispatch==3.4.0.3
six==1.11.0
sounddevice==0.3.12
SoundFile==0.10.2
tables==3.4.4
toolz==0.9.0
tqdm==4.28.1
urllib3==1.24.1
Werkzeug==0.14.1
wrapt==1.10.11
wxPython==4.0.3
xlrd==1.1.0
yarg==0.1.9
zmq==0.0.0
